// http://dribbble.com/shots/970912-User-Interface-Dark-Prototype?list=1423-HTML-CSS
// http://dribbble.com/shots/351923-iPhone-Flash-Selector?list=searches&tag=ui
// http://dribbble.com/shots/210793-UI-Dashboard?list=searches&tag=ui
// http://dribbble.com/shots/1023229-Ultramarine-Admin?list=searches&tag=ui
// http://dribbble.com/shots/318705-Stats-Dashboard-console-UI-UX?list=searches&tag=ui
// http://dribbble.com/shots/301443-Admin-dashboard?list=searches&tag=ui
// html, body
//     height: 100%;
// .fill
//     min-height: 100%;
// .sidebar
//     top:0px;
//     left:0px;
//     bottom:0px;
//     position:absolute;
//     background-color:Aqua;
// .content
//     min-height:500px;
//     position:relative;
//     background-color:Gray;
//     float:right;
// .no-space [class*="span"]
//     margin-left: 0;
// http://www.niumowang.org/html-css/css3-loading/
// http://www.google.com/fonts/specimen/Play --- font!!!

//Font awsom fix
@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=3.2.1');
  src: url('fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('fontawesome-webfont.woff?v=3.2.1') format('woff'), url('fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "nib"
@import "_grid"
column-width = 60
gutter-width = 20
columns = 12
total-width = 100%

*
  -webkit-user-select: none;
@import "_noise"
html, body
  font-size:100%
  margin: 0px
  padding: 0px
  overflow: hidden
  width:100%
  height:100%
  noise-background: #4d575a
body
  font-size: 13px //change to em
h1
  font-size: 14px

section.panel
  box-shadow:0px 1px 2px 0px #acaeaf;
  border-radius: 3px;
  column:12,9
  background:#FFF
  padding:10px
  box-sizing: border-box
  margin-top:5px
  margin-bottom:5px
  h1
    position:relative
    top:-10px
    left:-10px
    padding-left:10px
    padding-right:10px
    width:100%
    margin:0
    height: 38px
    line-height: 38px
    background: linear-gradient(top, #d2d2d2, #eaeaea);
    border-bottom: 1px solid #e0e0e0
    border-top: 1px solid rgba(255,255,255,.5)
    &,& i
      color:rgb(108, 108, 108)
      text-shadow: 0px 1px 3px #fff;
    i
      padding: 0 10px 0 10px

body
  position:relative
  > footer
    column: 12
    text-align:center
    position:absolute
    bottom:0
    left:0
    line-height:25px
    color:#f4f4f4
    text-shadow: 0px -1px 1px #050505
.background-frame
  position:absolute
  left: 0
  top: 5px
  bottom: 25px
  right: 0
  column:11
  offset:1
  background:#ebebeb
  box-shadow:0px 1px 2px 0px #acaeaf
  border-radius: 3px
  &:after
    content:""
    position:absolute
    top:0
    left:0
    right:0
    bottom:0
    column:2
    padding-left:( correction * 12) %
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,.3)
#modal
  background: #00F
  position:absolute
  top:0
  left: 0
  right: 0
  bottom: 0
  display:none

#main
  column:9
  offset:3
  position:relative
  padding-top:10px
  padding-bottom:10px
body
  > aside
    column: 3
    top:0
    bottom:0
    left:0
    position:absolute
    > menu
      padding:0
      padding-left:(100 / 24 +1)%
      column:4
      overflow:visible

      > li
        list-style:none
        text-align:center
        margin:0
        > a
          text-decoration: none
          display: block
          color:#f4f4f4
          text-shadow: 0px -1px 1px #050505
          line-height:20px
          padding:5px 0
          &.active
            color:#393939
            text-shadow: 0px 1px 1px #e5e5ee
            border-radius: 3px 0 0 3px
            margin-top:10px
            background:#ebebeb
          &:first-child,&.active:first-child
            margin-top:5px
          > i[class^="icon-"]
            display:block
            font-size:38px
        > a.active + ul
              display:block
        > ul
          position:absolute
          padding:0
          margin:0
          column:8
          offset:4
          display:none
          top:5px
          bottom:25px
          left: (100/48)%
          box-shadow: inset 50px 0px 20px -30px  #ebebeb
          // box-shadow:9px -5px 17px 1px #00FF3A, inset 0px -10px 10px -10px black
          border-radius:3px
          background-image: -webkit-linear-gradient(-90deg,transparent 0%,transparent 50%, #f0f1f1 50%, #f0f1f1 100%), -webkit-linear-gradient(  0deg, white 0%, rgba(0,0,0,.1) 50%, #f0f1f1 50%, #f0f1f1 100%);
          background-size:.25em .25em
          background-position: left top
          > li
            column:12
            &:last-child a
              border-bottom:none
            &:first-child a
              border-top:none
            > a
              box-sizing:border-box
              padding-left:10px
              text-align: left
              border-bottom:1px solid #dcdfe0
              border-top:1px solid #fff
              display:block
              margin: 0 10px
              line-height:40px
              color:#818386
              > i
                padding-right:5px






//TODO MOVE TO SEPARATED FILES
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
/* Styles */
}



/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}