html, body
    height: 100%;
.fill 
    min-height: 100%;
.sidebar
    top:0px;
    left:0px;
    bottom:0px;
    position:absolute;
    background-color:Aqua;
.content
    min-height:500px;
    position:relative;
    background-color:Gray;
    float:right;
.no-space [class*="span"]
    margin-left: 0;


