a(href=channel ? ('/' + channel) : null, class = active ? 'active' : null)
  i(class=icon)
  =text
  - console.log(subMenu)
if subMenu
  ul
    each item in subMenu
      li
        a
          i(class=item.icon)
          =item.text