doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="height=device-height,width=device-width, initial-scale=1.0")
    title LoginPage
    link(rel="stylesheet", href="/app.css")
    script.
      setTimeout(function(){
        document.getElementById("login").onsubmit =
            function () {
              this.classList.add("accept");
              return false;
              };
      }, 100);
  body
    div.special_login
      form#login(method="post", action="")
        input(type="text", placeholder="username")
        input(type="password", placeholder="password")
        button( type="submit")
        p
          | forgot your password?
          a(href="#") click here


    //- <input type="text" placeholder="username">
    //- <input type="password"  placeholder="password">
    //- <button type="submit">&#9658;</button>
    //- forgot your password? <a href="#">click here</a>
