div.special_login
  form#login(method="post", action="")
    input(type="text", placeholder="username")
    input(type="password", placeholder="password")
    button( type="submit")
    p
      | forgot your password?
      a(href="#")  click here
